nav {
    padding: 10px;
    margin: 5px;
    border-bottom-width: 2px;
    border-bottom-color: blue ;
    border-bottom-style: solid;
}

a {
    color: blue;
    text-decoration: underline;
}

table, tr, td, th{
    border-width: 2px;
    border-color: lightblue;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    border-collapse: collapse;
}

.selected {
    color: maroon;
}

.error {
    border: 1px solid red;
    color: red;
}

.valid {
    border: 1px solid green;
    color: green;
}
